.whatUse

  &_wrap
    padding 50px 0
    max-width ContentWidth
    margin 0 auto

  &_title
    margin 0 0 80px

  &_items
    margin-top 30px
    display grid
    grid-template-columns repeat(2, auto)

  &_item
    position: relative
  
    width 500px
    margin-bottom 40px
    display flex
    border-radius 15px

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  &_photo
    flex-shrink 0
    display block
    width 220px
    height 220px
    border-radius 15px 0 0 15px

    object-fit cover
    object-position center

  &_infoGroup
    display flex
    flex-direction column
    width 100%
    padding 20px
    box-sizing border-box
    border-left 1px solid main-color-2

  &_name
    position relative

    display block
    margin 0
    width 100%
    margin-bottom 20px

    color main-color-2
    font-weight 700
    text-decoration underline

    background-color main-color-1

  &_info
    position relative

    display block
    margin 0
    width 100%

    color main-color-2
    font-weight 400

    background-color main-color-1