mixin whatUse(data)
  section.whatUse.section(id='whatUse')
    img.whatUse_bg(src="__static__img/assets/whatUse/back.jpg", alt="")
    .whatUse_wrap
      h2.whatUse_title.title.animateEl Что мы используем?
      .whatUse_sliderWrap
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-left', className: 'whatUse_btn -prev', iconWidth: '35', iconHeight: '75'})
        
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'whatUse_btn -next', iconWidth: '30', iconHeight: '20'})
        .whatUse_slider.swiper-container
          .whatUse_items.swiper-wrapper
            each item in data.items
              .whatUse_item.swiper-slide
                img.whatUse_photo(src= item.photo, alt="")
                span.whatUse_infoGroup
                  h3.whatUse_name.subtitle= item.name
                  span.whatUse_info= item.info

          .swiper-pagination