mixin whatUse(data)
  section.whatUse
    .whatUse_wrap
      h2.whatUse_title.title Что мы используем?
      .whatUse_sliderWrap
        button.whatUse_btn.-prev
        button.whatUse_btn.-next
        .whatUse_slider.swiper-container
          .swiper-pagination
          .whatUse_items.swiper-wrapper
            each item in data.items
              .whatUse_item.swiper-slide
                img.whatUse_photo(src= item.photo, alt="")
                span.whatUse_infoGroup
                  h3.whatUse_name.subtitle= item.name
                  span.whatUse_info= item.info