.whatUse
  padding 100px 0

  &_wrap
    max-width ContentWidth
    margin 0  auto

  &_title
    margin 0 0 50px

  &_sliderWrap
    position relative

    width 100%

  &_btn
    position absolute
    top 50%
    transform translateY(-50%)

    display block

    width 30px
    height 30px

    background-color main-color-2

    &.-prev
      left 0
    
    &.-next
      right 0


  &_slider
    display block
    width calc(100% - 100px)
    box-sizing border-box
    padding 50px 30px

  &_items
    display flex
    width 100%
    //grid-template-columns repeat(3, auto)

  &_item
    display flex
    flex-direction column
    flex-shrink 0
    width 300px
    height auto
    border-radius 15px
    overflow hidden

    background-color main-color-1

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  &_photo
    display block
    width 100%
    height 250px

    object-fit contain
    object-position center

  &_infoGroup
    display flex
    flex-direction column
    width 100%
    height 100%
    box-sizing border-box
    padding 15px
    border-top 1px solid main-color-2

  &_name
    position relative

    margin 0 0 30px

    color main-color-2

    &::before
      content ''
      position absolute
      left 0
      bottom -10px

      display block
      width 70px
      height 5px

      background-color hover-color

  &_info
    display block
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center

    color main-color-2