doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/main/main.pug
  include ../components/whatCheck/whatCheck.pug
  include ../components/whatUse/whatUse.pug
  include ../components/services/services.pug
  include ../components/about/about.pug
  include ../components/whyWe/whyWe.pug
  include ../components/buyAuto/buyAuto.pug
  include ../components/checkAuto/checkAuto.pug
  include ../components/comments/comments.pug
  include ../components/form/form.pug
  include ../components/mainForm/mainForm.pug

  include ../components/popupsServices/popupsServices.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrap.section
      .video_wrap
        video(src="__static__img/general/video.mp4" autoplay='autoplay', loop='loop', muted='muted') 
      +header(header.main)
      +main()
    +whatCheck(whatCheck.main)
    +whatUse(whatUse.main)
    .forBack
      +services(services.main)
      +about(about.main)
    +whyWe(whyWe.main)
    +buyAuto(buyAuto.main)
    +checkAuto()
    +comments(comments.main)

    +popupsServices(services.main)

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')