doctype html
html(class="no-js", lang="ru")

  include ../components/head/head.pug
  include ../components/header/header.pug
  include ../components/main/main.pug

  head
    +head(head.defaults)
  body.page
    |%=symbols=%

    .wrap
      .video_wrap
        video(src="__static__img/general/video.mp4" autoplay='autoplay', loop='loop', muted='muted') 
      +header(header.main)
      +main()

    script(src='%=static=%js/separate-js/svg4everybody.min.js')
    script svg4everybody();

    //- Main scripts. You can replace it, but I recommend you to leave it here
    script(src='%=static=%js/main%=hash=%%=min=%.js')