// Common styles of the project

html, body
  height 100%


.page
  font-family OpenSans
  color White
  background-color Black
  font-size 16px

.wrap
  position relative

  width 100%
  height auto

.video_wrap
  position absolute
  top 0
  left 0
  bottom 0
  right 0
  z-index -1
  
  overflow hidden

  &::before
    content ''
    position absolute
    top 0
    left 0
    bottom 0
    right 0

    background: rgba(0,0,0,.5)

  & video
    width 100%
    height auto
