dir = '../fonts'
font-face(name, weight, style)
  @font-face
    font-family name
    src url(dir/name/name\-weight\-style.woff2) format('woff2'),
    url(dir/name/name\-weight\-style.woff) format('woff')
    font-weight weight
    font-style style
    font-display swap

font-face(Roboto, 400, normal)

font-face(OpenSans, 600, normal)
font-face(OpenSans, 700, normal)
font-face(OpenSans, 800, normal)