// File for less-vars.
// For example: main colors, paddings and so on.

OpenSans = "Open Sans", sans-serif
Gilroy = "Gilroy", sans-serif

ContentWidth = 1150px
tabletWidth = 950px

bDesktop = 1600px
bLaptop = 1300px
bTablet = 1190px
bSmallTablet = 639px
bPhone = 479px

main-color-1 = rgb(255, 255, 255)
main-color-2 = rgb(0, 0 ,0)
hover-color = rgb(55, 211, 211)