// File for less-vars.
// For example: main colors, paddings and so on.

OpenSans = "Open Sans", Helvetica, Arial, sans-serif
Gilroy = "Gilroy", sans-serif

ContentWidth = 1150px
tabletWidth = 950px
smallTabletWidth = 730px

bDesktop = 1600px
bLaptop = 1300px
bTablet = 1199px
bSmallTablet = 999px
bPhone = 767px
bSmallPhone = 639px
bSmallestPhone = 479px

main-color-1 = rgb(255, 255, 255)
main-color-2 = rgb(0, 0 ,0)
hover-color = rgb(55, 211, 211)