// File for less-vars.
// For example: main colors, paddings and so on.

OpenSans = "Open Sans", sans-serif
Gilroy = "Gilroy", sans-serif

ContentWidth = 1150px

@media (max-width 900px)
  ContentWidth = 300px

White = #fff
Black = #000
fds = #37d3d3