.whyWe
  padding 80px 0 50px

  background-color main-color-2
  background-image url(__static__assets/whyWe/back-1.png)
  background-repeat no-repeat
  background-size contain
  background-position 110% 120%

  @media (max-width bTablet)
    background-size 70%
    padding 60px 0 40px

  @media (max-width bSmallTablet)
    padding 50px 0 30px

  @media (max-width bPhone)
    padding 40px 0 25px

    background-size 100%

  &_wrap
    max-width ContentWidth
    margin 0 auto

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

  &_items
    width 100%
    display grid
    grid-template-columns repeat(3, auto)

    @media (max-width bPhone)
      display flex
      flex-wrap wrap
      justify-content space-evenly

  &_item
    width 270px
    display flex
    align-items center
    flex-direction column
    margin-bottom 40px

    @media (max-width bTablet)
      width 240px

    @media (max-width bSmallTablet)
      width 220px
      margin-bottom 30px

    @media (max-width bPhone)
      width 230px
      margin-bottom 20px

  &_icon
    width 140px
    height 140px
    margin-bottom 30px

    object-position center
    object-fit contain

    @media (max-width bTablet)
      width 120px
      height 120px
      margin-bottom 25px

    @media (max-width bSmallTablet)
      width 108px
      height 108px

  &_info
    display block

    font-size 18px
    text-align center

    @media (max-width bTablet)
      font-size 16px

    @media (max-width bSmallTablet)
      font-size 15px

    @media (max-width bPhone)
      font-size 14px