.whyWe
  padding 50px 0

  background-color main-color-2

  background-image url(__static__assets/whyWe/back.jpg)
  background-repeat no-repeat
  background-size contain
  background-position 0 60%

  &_wrap
    max-width ContentWidth
    margin 0 auto

  &_items
    width 100%
    display grid
    grid-template-columns repeat(3, auto)

  &_item
    width 270px
    display flex
    align-items center
    flex-direction column
    margin-bottom 40px

  &_icon
    width 140px
    height 140px
    margin-bottom 30px

    object-position center
    object-fit contain

  &_info
    display block

    font-size 18px
    text-align center