mixin footer(data)
  footer.footer
    +socialsLine(socialsLine.main)

    .footer_wrap
      span.footer_notice © 2014-2021 «Need-Cars» Помощь в выборе автомобиля. Все права защищены

      span.footer_dev сайт разработан <a class="footer_link">Mikhail Urukhpaev</a>