.footer
  background-color main-color-2

  & .socialsLine
    position relative
    z-index 98

  & .socialsLine_menuIcon
    display none

  &_wrap
    max-width ContentWidth
    margin 0 auto
    display flex
    align-items center
    justify-content space-between
    padding 20px 0

    @media (max-width bTablet)
      max-width tabletWidth
      padding 15px 0

    @media (max-width bSmallTablet)
      max-width smallTabletWidth
      flex-direction column

    @media (max-width bPhone)
      padding 15px

  &_notice
    display block

    color rgba(255, 255, 255, .6)

    @media (max-width bSmallTablet)
      margin-bottom 10px

      text-align center

  &_dev
    display block

    color rgba(255, 255, 255, .6)

    @media (max-width bSmallTablet)
      text-align center

  &_link
    margin-left 5px

    color main-color-1
    cursor pointer
    text-decoration none

    transition .2s all

    &:hover
      color hover-color
  