mixin popup(data)
  section.popup
    .popup_area.popup-close

    .popup_contentWrap
      a.popup_close.popup-close(href="#")
        i.popup_icon

      .popup_content
        +form()
        +mainForm()
        +popupsServices(services.main)