@import '../normalize.styl';

/* Libraries, which is used in current project. */
@import 'partials/_libraries.styl';

@import 'swiper/swiper-bundle.min.css';
// @import 'swiper/modules/navigation/navigation.min.css';
// @import 'swiper/modules/pagination/pagination.min.css';

/* Libraries, which is used in current project. */
@import 'built-in-partials/_service.styl';

/* Plugins, which is used in current project. */
@import 'partials/_plugins.styl';

/* Components, which is used in current project. */
@import 'partials/_components.styl';

/* Additional style files. */
@import '../etc/etc.styl';
