.checkAuto
  padding 50px 0

  &_wrap
    max-width ContentWidth
    margin 0 auto

  &_subtitle
    display block
    margin-bottom 30px

    color main-color-2
    font-size 22px
    font-weight 700
    text-align center

  &_notice
    display block
    margin-bottom 50px

    color rgba(0, 0, 0, .3)
    font-size 16px
    text-align center

  &_main
    width 100%
    max-width 1000px
    margin 0 auto 50px
    display flex
    align-items center
    justify-content space-between

  &_pic
    display block
    width 447px
    height 332px

    object-fit contain
    object-position center

  &_form
    display flex
    flex-direction column
    align-items center
    max-width 400px
    width 100%
    box-sizing border-box
    padding 20px
    border-radius 15px
    overflow hidden

    background-color main-color-1

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)


  &_inputGroup
    width 100%
    margin-bottom 20px

    &:last-child
      margin-bottom 0

  &_label
    display flex
    margin-bottom 10px

    font-family Gilroy
    font-weight 600

    color main-color-2
    text-align center

    & strong
      display block
      margin-right 5px

      color red

  &_input
    display block
    width 100%
    border-radius 15px
    box-sizing border-box
    padding 10px
    border 1px solid rgba(0, 0, 0, .3)
    outline 0

    transition all .2s

    &:hover,
    &:focus
      border 1px solid hover-color

  &_btn
    border 0

  &_bottomNotice
    display block
    margin 0 auto
    
    color red
    text-align center
