.checkAuto
  padding 80px 0 50px

  @media (max-width bTablet)
    padding 60px 0 40px

  @media (max-width bSmallTablet)
    padding 50px 0 40px

  @media (max-width bPhone)
    padding 40px 0 35px

  &_wrap
    max-width ContentWidth
    margin 0 auto

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

  &_subtitle
    display block
    margin-bottom 30px

    color main-color-2
    font-size 22px
    font-weight 700
    text-align center

    @media (max-width bTablet)
      margin-bottom 20px

      font-size 20px

    @media (max-width bSmallTablet)
      font-size 18px

    @media (max-width bPhone)
      font-size 17px

  &_notice
    display block
    margin-bottom 50px

    color rgba(0, 0, 0, .3)
    font-size 16px
    text-align center

    @media (max-width bTablet)
      margin-bottom 40px

    @media (max-width bSmallTablet)
      margin-bottom 30px

      font-size 15px

    @media (max-width bPhone)
      margin-bottom 25px

      font-size 14px

  &_main
    width 100%
    max-width 1000px
    margin 0 auto 50px
    display flex
    align-items center
    justify-content space-between

    @media (max-width bSmallTablet)
      flex-direction column
      margin-bottom 40px

    @media (max-width bPhone)
      margin-bottom 30px

  &_pic
    display block
    width 447px
    height 332px

    object-fit contain
    object-position center

    @media (max-width bSmallTablet)
      display none

  &_form
    display flex
    flex-direction column
    align-items center
    max-width 400px
    width 100%
    box-sizing border-box
    padding 20px
    border-radius 15px
    overflow hidden

    background-color main-color-1

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

    @media (max-width bTablet)
      box-shadow: 0 12px 24px rgba(0,0,0,0.25), 0 8px 8px rgba(0,0,0,0.22)

    @media (max-width bSmallTablet)
      max-width 350px

      box-shadow: 0 10px 21px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22)

    @media (max-width bPhone)
      padding 15px


  &_inputGroup
    width 100%
    margin-bottom 20px

    &:last-child
      margin-bottom 0

  &_label
    display flex
    margin-bottom 10px
    padding-left 5px

    font-family Gilroy
    font-weight 600

    color main-color-2
    text-align center

    @media (max-width bSmallTablet)
      padding-left 3px

    & strong
      display block
      margin-right 5px

      color red

      @media (max-width bSmallTablet)
        margin-right 3px

  &_input
    display block
    width 100%
    border-radius 15px
    box-sizing border-box
    padding 10px
    border 1px solid rgba(0, 0, 0, .3)
    outline 0

    transition all .2s

    &:hover,
    &:focus
      border 1px solid hover-color

  &_btn
    border 0

  &_bottomNotice
    display block
    margin 0 auto
    
    color red
    text-align center
