mixin checkAuto(data)
  section.checkAuto.section(id='checkAuto')
    .checkAuto_wrap
      h2.checkAuto_title.title.animateEl Проверка автомобиля

      span.checkAuto_subtitle.animateEl Поделитесь с нами ссылкой на объявление с сайта по продаже автомобилей
      span.checkAuto_notice.animateEl Мы перезвоним и расскажем все возможные подводные камни авто!*

      .checkAuto_main
        img.checkAuto_pic.animateEl(src="__static__img/assets/checkAuto/pic.png", alt="")

        form.checkAuto_form.animateEl(action="")
          .checkAuto_inputGroup
            label.checkAuto_label(for="name-input") Ваше имя:
            input.checkAuto_input(id="name-input", type="text", placeholder="Владимир", name="Name", maxlength="15")
          .checkAuto_inputGroup
            label.checkAuto_label(for="tel-input") <strong>*</strong> Ваш телефон:
            input.checkAuto_input(id="tel-input", type="tel", placeholder="+79509509595", name="Tel" required)
          .checkAuto_inputGroup
            label.checkAuto_label(for="vin-input") Vin-код:
            input.checkAuto_input(id="vin-input", type="text", placeholder="X7L5SRATG52858474", name="Vin" maxlength="17")
          .checkAuto_inputGroup
            label.checkAuto_label(for="link-input") <strong>*</strong> Ссылка на желаемый автомобиль:
            input.checkAuto_input(id="link-input", type="url", placeholder="http://vashsite.ru", name="Link" required)

          button.checkAuto_btn.formLink(type="submit") Отправить
      
      span.checkAuto_bottomNotice *Данная услуга является бесплатной для подписчиков группы <a href="#">ВКонтакте</a>
