mixin comments(data)
  section.comments.section(id="comments")
    .comments_wrap
      h2.comments_title.title.animateEl Отзывы

      .comments_sliderWrap
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-left', className: 'comments_btn -prev animateEl', iconWidth: '35', iconHeight: '75'})
        
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'comments_btn -next animateEl', iconWidth: '30', iconHeight: '20'})
        .comments_slider.swiper
          .comments_items.swiper-wrapper
            each item in data.items
              .comments_item.swiper-slide.animateEl
                img.comments_photo(src= item.photo, alt="")

                .comments_info
                  span.comments_desc.subtitle= item.desc 

                  span.comments_for Для Михаила Урухпаева ( <a class="comments_link" href="#" target="_blank">Страница ВК</a> )

                  span.comments_subtitle.subtitle Отзыв:(жирным)

                

                  span.comments_text= item.comment

          .swiper-pagination