mixin comments(data)
  section.comments.section(id="comments")
    .comments_wrap
      h2.comments_title.title Отзывы

      .comments_sliderWrap
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-left', className: 'comments_btn -prev', iconWidth: '35', iconHeight: '75'})
        
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'comments_btn -next', iconWidth: '30', iconHeight: '20'})
        .comments_slider.swiper-container
          .comments_items.swiper-wrapper
            each item in data.items
              .comments_item.swiper-slide
                img.comments_photo(src= item.photo, alt="")

                .comments_info
                  span.comments_desc.subtitle= item.desc 

                  span.comments_for= item.for

                  span.comments_subtitle.subtitle Отзыв:(жирным)

                  span.comments_text= item.comment

          .swiper-pagination