.comments
  padding 80px 0

  @media (max-width bTablet)
    padding 60px 0

  @media (max-width bSmallTablet)
    padding 50px 0

  @media (max-width bPhone)
    padding 40px 0

  @media (max-width bSmallPhone)
    padding 35px 0

  @media (max-width bSmallestPhone)
    padding 30px 0

  &_wrap
    max-width ContentWidth
    margin 0 auto

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

    @media (max-width bSmallPhone)
      padding 0 15px

    @media (max-width bSmallestPhone)
      padding 0 10px

  &_title
    margin 0 0 50px

    @media (max-width bTablet)
      margin 0 0 40px

    @media (max-width bSmallTablet)
      margin 0 0 30px

    @media (max-width bPhone)
      margin 0 0 20px

    @media (max-width bSmallPhone)
      margin 0 0 15px
      

  &_sliderWrap
    position relative

    margin 0 auto
    width 100%

    @media (max-width bTablet)
      width 100%

  &_btn
    position absolute
    top 50%
    transform translateY(-50%)

    display block

    width 40px
    height 30px

    cursor: pointer

    fill main-color-2
    transition .2s all

    @media (max-width bTablet)
      width 35px
      height 25px

    @media (max-width bPhone)
      width 30px
      height 20px

    @media (max-width bSmallestPhone)
      width 27px
      height 18px

    &:hover
      fill hover-color

    &.-prev
      left 0
    
    &.-next
      right 0

  &_slider
    width calc(100% - 100px)
    box-sizing border-box
    padding 50px 35px

    @media (max-width bTablet)
      padding 45px 35px

    @media (max-width bSmallTablet)
      padding 40px 30px
      width calc(100% - 120px)

    @media (max-width bPhone)
      width calc(100% - 100px)

    @media (max-width bSmallPhone)
      width calc(100% - 40px)
      padding 35px 20px

    @media (max-width bSmallestPhone)
      max-width 235px
      width 100%
      padding 35px 10px

  &_item
    display flex
    flex-direction column
    margin 0 auto
    width calc(100% - 100px)
    border-radius 15px
    box-sizing border-box
    overflow hidden

    background-color main-color-1

    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22)

    @media (max-width bTablet)
      width 100%

    @media (max-width bPhone)
      width 420px
      padding 0
      flex-direction column

    @media (max-width bSmallestPhone)
      box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22)

  &_photosWrap
    flex-shrink 0
    width 100%
    height 250px
    margin-right 20px

    @media (max-width bTablet)
      height 220px

    @media (max-width bPhone)
      height 200px

    @media (max-width bSmallPhone)
      height 180px
    
    @media (max-width bSmallestPhone)
      height 140px

  &_mainPhoto
    flex-shrink 0
    width 100%
    height 100%
    border-radius 15px 15px 0 0
    overflow hidden
    margin-bottom 10px

    @media (max-width bPhone)
      border-radius 15px 15px 0 0

  &_photo
    display block
    width 100%
    height 100%

    object-position center
    object-fit cover

    &.-active
      display block

  &_previews
    width 100%
    display none

  &_preview
    flex-shrink 0
    display block
    height 40px
    margin-right 5px
    width 70px
    border-radius 5px
    border 5px solid transparent

    object-fit cover
    object-position center

    transition .2s all

    cursor pointer

    &.-active
      border 5px solid hover-color

    &:last-child
      margin-right 0

  &_info
    width 100%
    box-sizing border-box
    height 350px
    padding 15px
    display flex
    flex-direction column

    color main-color-2

    @media (max-width bTablet)
      height 275px

    @media (max-width bSmallTablet)
      height 250px

    @media (max-width bPhone)
      padding 13px

  &_desc
    display block
    margin-bottom 10px

    @media (max-width bTablet)
      margin-bottom 8px

  &_for
    display block
    margin-bottom 10px

    color rgba(0, 0, 0, .6)

    @media (max-width bTablet)
      margin-bottom 8px

  &_subtitle
    display block
    margin-bottom 10px

    @media (max-width bTablet)
      margin-bottom 8px

  &_text
    display block
    max-height 100%
    overflow-y auto

    color rgba(0, 0, 0, .6)
    // line-height: lh = 24px

    // //height lh * 8
