socials = {
  '1' : '__static__assets/socialsLine/social-icon-1.png',
  '2' : '__static__assets/socialsLine/social-icon-2.png',
  '3' : '__static__assets/socialsLine/social-icon-3.png'
}

hoverSocials = {
  '1' : '__static__assets/socialsLine/hover-social-icon-1.png',
  '2' : '__static__assets/socialsLine/hover-social-icon-2.png',
  '3' : '__static__assets/socialsLine/hover-social-icon-3.png'
}

.socialsLine
  position relative

  width 100%
  transition .2s all

  for i, url in socials
    &_social:nth-child({i})
      background-image url(url)

  for i, url in hoverSocials
    &_social:nth-child({i})::before
      background-image url(url)

  @media (max-width bSmallTablet)
    z-index 100
      
  &_headLine
    width 100%
    border-bottom 1px solid main-color-1

  &_wrap
    position relative

    display flex
    align-items center
    justify-content space-between
    max-width ContentWidth
    margin 0 auto
    padding 20px 0

    @media (max-width bTablet)
      max-width tabletWidth
      padding 15px 0

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 15px

  &_group
    display flex
    align-items center

    &:last-of-type
      @media (max-width bSmallTablet)
        margin-left auto

  &_logo
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

    display block
    width 165px
    height auto

    object-fit contain
    object-position center

    @media (max-width bTablet)
      width 150px

    @media (max-width bSmallestPhone)
      display none

  &_mobileLogo
    position absolute
    left 50%
    top 50%
    transform translate(-50%, -50%)

    display none
    width 82px
    height auto

    object-fit contain
    object-position center

    @media (max-width bSmallestPhone)
      display block
      width 75px
  

  &_linkGroup
    display flex
    align-items center
    margin-right 15px

    text-decoration none

    @media (max-width bSmallTablet)
      margin-right 10px

    @media (max-width bSmallestPhone)
      margin-right 7px

    &:last-child
      margin-right 0

  &_linkIcon
    position relative

    display block
    flex-shrink 0
    margin-right 10px
    width 30px
    height 30px
    border-radius: 50%
    border 1px solid main-color-1

    transition .2s all

    background-size 15px auto
    background-position center
    background-repeat no-repeat
    background-image url(__static__assets/socialsLine/icon-1.png)

    @media (max-width bSmallTablet)
      margin-right 0

    @media (max-width bSmallestPhone)
      width 25px
      height 25px

      background-size 12px auto

    &::before
      content ''
      position absolute
      top 0
      left 0

      width 100%
      height 100%
      border 1px solid transparent
      box-sizing border-box
      border-radius: 50%

      opacity 0
      visibility hidden

      transition .2s all

      background-image url(__static__assets/socialsLine/hover-icon-1.png)      
      background-size 15px auto
      background-position center
      background-repeat no-repeat

      @media (max-width bSmallestPhone)
        background-size 12px auto

  &_linkGroup:last-child &_linkIcon
    background-image url(__static__assets/socialsLine/icon-2.png)

    &::before
      background-image url(__static__assets/socialsLine/hover-icon-2.png)

  &_linkGroup:hover &_linkIcon
    border 1px solid hover-color

    &::before
      opacity 1
      visibility visible

  &_linkName
    color main-color-1
    font-size 16px
    font-weight 700

    transition .2s all

    @media (max-width bTablet)
      font-size 14px

    @media (max-width bSmallTablet)
      display none

  &_linkGroup:hover &_linkName
    color hover-color

  &_group
    display flex
    align-items center

  &_time
    display block
    flex-shrink 0
    margin-right 15px

    font-size 16px

    @media (max-width bTablet)
      margin-right 10px
      
      font-size 15px

    @media (max-width bSmallTablet)
      display none

  &_socials
    display flex
    align-items center

  &_social
    position relative

    flex-shrink 0
    margin-right 10px
    width 30px
    height 30px
    border-radius: 50%
    border 1px solid main-color-1

    transition .2s all

    background-size 15px auto
    background-position center
    background-repeat no-repeat

    @media (max-width bSmallestPhone)
      width 25px
      height 25px
      margin-right 7px

      background-size 13px auto

    &:hover
      border 1px solid hover-color

    &:hover::before
      opacity 1
      visibility visible

    &::before
      content ''
      position absolute
      top 0
      left 0

      width 100%
      height 100%
      border 1px solid transparent
      box-sizing border-box
      border-radius: 50%

      opacity 0
      visibility hidden

      transition .2s all
      
      background-size 15px auto
      background-position center
      background-repeat no-repeat

      @media (max-width bSmallestPhone)
        background-size 13px auto

    &:last-child
      margin-right 0

  &_menuIcon
    display none
    position relative

    flex-shrink 0
    flex-direction column
    align-items center
    justify-content center
    margin-left 15px
    width 30px
    height 30px
    border-radius: 50%
    border 1px solid main-color-1

    transition .2s all
    cursor pointer

    @media (max-width bSmallTablet)
      display flex
      margin-left 10px

    @media (max-width bSmallestPhone)
      margin-left 7px
      width 25px
      height 25px

    &:hover,
    &.-active
      border 1px solid hover-color

  &_line
    display block

    width 16px
    height 1px
    border-radius 5px
    margin-bottom 3px

    background-color main-color-1
    transition .2s all

    @media (max-width bSmallestPhone)
      width 14px

    &:last-child
      margin-bottom 0

  &_menuIcon:hover &_line,
  &_menuIcon.-active &_line
    background-color hover-color