mixin socialsLine(data)
  section.socialsLine
    .socialsLine_headLine
      .socialsLine_wrap
        img.socialsLine_logo.animateEl(src= data.logo, alt="")
        img.socialsLine_mobileLogo.animateEl(src= data.mobileLogo, alt="")

        .socialsLine_group
          span.socialsLine_time.animateEl Пн-Вс 09:00-22:00
          .socialsLine_socials
            each social in data.socials
              a.socialsLine_social.animateEl(href= social)

        .socialsLine_group
          a.socialsLine_linkGroup.animateEl(href= data.tel)
            i.socialsLine_linkIcon
            span.socialsLine_linkName= data.tel
          a.socialsLine_linkGroup.animateEl(href= data.mail)
            i.socialsLine_linkIcon
            span.socialsLine_linkName= data.mail

        i.socialsLine_menuIcon.animateEl
          .socialsLine_line
          .socialsLine_line
          .socialsLine_line