mixin socialsLine(data)
  section.socialsLine
    .socialsLine_headLine
      .socialsLine_wrap
        img.socialsLine_logo(src= data.logo, alt="")

        .socialsLine_group
          span.socialsLine_time Пн-Вс 09:00-22:00
          .socialsLine_socials
            each social in data.socials
              a.socialsLine_social(href= social)

        .socialsLine_group
          a.socialsLine_linkGroup(href= data.tel)
            i.socialsLine_linkIcon
            span.socialsLine_linkName= data.tel
          a.socialsLine_linkGroup(href= data.mail)
            i.socialsLine_linkIcon
            span.socialsLine_linkName= data.mail

        i.socialsLine_menuIcon
          .socialsLine_line
          .socialsLine_line
          .socialsLine_line