mixin about(data)
  section.about
    .about_wrap
      h3.about_title.title.-darkTheme О компании
      .about_main
        .about_infoGroup
          span.about_info
            p Здравствуйте! Меня зовут Владимир, я являюсь основателем компании BestCar. Наша команда занимается подбором и выездной диагностикой перед покупкой в Нижнем Новгороде.
            p Авторынок наполнен хламом, машинами со скрученными пробегами, автомобилями «конструкторами» (сваренные из нескольких автомобилей), авто с убитыми двигателями, КПП, с юридическими ограничениями и прочими проблемами. Поэтому мы хотим уберечь Вас от покупки таких авто.
            p Мы работаем с 2016 года в сфере Автоподбора и имеем большой опыт в работе с диагностикой авто. Нами подобрано более сотни автомобилей.
            p Для всех желающих мы проводим бесплатную консультацию. Для этого Вам нужно просто позвонить по указанному номеру, либо оставить заявку.

          a.about_link.formLink(href="#") Оставить заявку

        img.about_photo(src= data.photo alt="")