.about
  position relative
  z-index 5

  overflow hidden
  padding 80px 0 50px

  @media (max-width bTablet)
    padding 60px 0 40px

  @media (max-width bSmallTablet)
    padding 50px 0 30px

  @media (max-width bPhone)
    padding 40px 0 25px

  @media (max-width bSmallPhone)
    padding 35px 0 20px

  @media (max-width bSmallestPhone)
    padding 30px 0 20px

  &_bg
    position absolute
    left 0
    top 50%
    transform translateY(-50%)

    display block
    width 925px
    height 695px

    object-fit contain
    object-position center

    user-select none
    pointer-events none

    @media (max-width bDesktop)
      left -250px

    @media (max-width bLaptop)
      left -480px

    @media (max-width bTablet)
      top 0
      transform translateY(0)

    @media (max-width bSmallTablet)
      left 0
      top 100px

      width 600px
      height 450px

    @media (max-width bSmallPhone)
      left -50px
      top 50px
      
      width 490px
      height 368px

    @media (max-width bSmallestPhone)
      left -150px

  &_wrap
    max-width ContentWidth
    margin 0 auto
    box-sizing border-box

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

    @media (max-width bSmallPhone)
      padding 0 10px

  &_main
    position relative
    z-index 5

    display flex
    align-items center
    justify-content space-between
    width 100%
    padding-left 100px
    box-sizing border-box

    @media (max-width bTablet)
      padding-left 50px

    @media (max-width bSmallTablet)
      padding 0
      flex-direction column
      

  &_infoGroup
    max-width 600px
    width 100%
    display flex
    flex-direction column
    align-items flex-end

    @media (max-width bSmallTablet)
      align-items center

  &_info
    display block
    width 100%
    margin-bottom 50px

    font-size 20px
    line-height 28px
    text-align right

    @media (max-width bTablet)
      margin-bottom 40px

      font-size 18px
      line-height 24px

    @media (max-width bSmallTablet)
      text-align center
      font-size 17px
      line-height 22px

    @media (max-width bPhone)
      margin-bottom 30px

      font-size 16px

    @media (max-width bSmallPhone)
      margin-bottom 25px

      font-size 14px
      
    & p
      margin-top 0

      @media (max-width bSmallPhone)
        margin-bottom 10px
        
      &:last-child
        margin-bottom 0

  &_photo
    display block
    width 270px
    height 605px

    user-select none
    pointer-events none

    @media (max-width bSmallTablet)
      width 162px
      height 365px
      margin-bottom 30px

    @media (max-width bPhone)
      width 146px
      height 330px
      margin-bottom 20px

    @media (max-width bSmallPhone)
      width 122px
      height 270px