.about
  padding 50px 0
  
  background-image url(__static__assets/whyWe/back.jpg)
  background-repeat no-repeat
  background-size contain
  background-position -10% 50%

  &_wrap
    max-width ContentWidth
    margin 0 auto
    box-sizing border-box
    padding 0 0 0 100px

  &_main
    display flex
    align-items center
    justify-content space-between

  &_infoGroup
    max-width 600px
    display flex
    flex-direction column
    align-items flex-end

  &_info
    display block
    width 100%
    margin-bottom 50px

    font-size 20px
    text-align right

    & p
      &:first-child
        margin-top 0

      &:last-child
        margin-bottom 0


  &_photo
    display block
    width 270px
    height 530px