@import 'components/header/header.styl';
@import 'components/main/main.styl';
@import 'components/whatCheck/whatCheck.styl';
@import 'components/whatUse/whatUse.styl';
@import 'components/about/about.styl';
@import 'components/services/services.styl';
@import 'components/whyWe/whyWe.styl';
@import 'components/buyAuto/buyAuto.styl';
@import 'components/popupsServices/popupsServices.styl';
@import 'components/checkAuto/checkAuto.styl';
@import 'components/form/form.styl';
@import 'components/mainForm/mainForm.styl';
@import 'components/comments/comments.styl';
@import 'components/socialsLine/socialsLine.styl';
@import 'components/footer/footer.styl';