.whatCheck

  &_wrap
    padding 50px 0
    max-width ContentWidth
    margin 0 auto

  &_items
    margin-top 30px
    display grid
    grid-template-columns repeat(4, auto)

  &_item
    position: relative
  
    width 220px
    margin-bottom 40px
    display flex
    align-items center
    flex-direction column
    border-radius 15px

    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  &_cloud
    position absolute
    top 0
    left 0
    transform translate(0, -130%)
    z-index 100

    display block
    border-radius 15px
    padding 15px
    width 150%
    box-sizing border-box

    color main-color-1
    background-color main-color-2

    opacity 0
    visibility hidden
    transition .3s all

    &::before
      content ''
      position absolute
      left 50px
      bottom 0
      transform translate(-50%, 50%) rotate(45deg)

      display block
      width 10px
      height 10px

      background-color: main-color-2

  &_item:hover &_cloud
    opacity 1
    visibility visible

  &_photo
    display block
    width 100%
    height 170px
    border-radius 15px 15px 0 0

    object-fit cover
    object-position center

  &_nameWrap
    display flex
    align-items center
    justify-content center
    width 100%
    height 100%
    box-sizing border-box
    padding 20px 15px
    border-top 1px solid main-color-2
    border-radius 0 0 15px 15px

    background-color main-color-1

  &_name
    position relative

    margin 0

    text-align center

    &::before
      content ''
      position absolute
      left 50%
      bottom -10px
      transform translate(-50%, 0)

      display block
      width 70px
      height 5px

      background-color hover-color