mixin whatCheck(data)
  section.whatCheck.section(id='whatCheck')
    img.whatCheck_bg(src="__static__img/assets/whatCheck/back-1.jpg", alt="")
    .whatCheck_wrap
      h2.whatCheck_title.title Что мы проверяем?
      .whatCheck_sliderWrap
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-left', className: 'whatCheck_btn -prev', iconWidth: '35', iconHeight: '75'})
        
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'whatCheck_btn -next', iconWidth: '30', iconHeight: '20'})
        .whatCheck_slider
          .whatCheck_items
            each item in data.items
              .whatCheck_item
                //- дубликат
                .whatCheck_duplicate
                  div.whatCheck_photo
                  span.whatCheck_nameWrap
                    h3.whatCheck_name.subtitle= item.name
                //- оригинал
                .whatCheck_flipper
                  .whatCheck_front
                    //- img.whatCheck_photo(src= item.photo, alt="")
                    picture.whatCheck_photo(data-placeholder-background="url(__static__img/general/no_photo.jpg)")
                      source(type="image/webp" srcset="__static__img/assets/whatCheck/pic-2w.webp")
                      source(type="image/webp" srcset="__static__img/assets/whatCheck/pic-1w.webp")
                      
                      img(src="__static__img/assets/whatCheck/pic-2j.jpeg")
                    span.whatCheck_nameWrap
                      h3.whatCheck_name.subtitle= item.name

                  .whatCheck_back= item.info
                  
                  

          .swiper-pagination