mixin whatCheck(data)
  section.whatCheck.section(id='whatCheck')
    .whatCheck_wrap
      h2.whatCheck_title.title Что мы проверяем?
      .whatCheck_items
        each item in data.items
          .whatCheck_item
            span.whatCheck_cloud= item.info
            img.whatCheck_photo(src= item.photo, alt="")
            span.whatCheck_nameWrap
              h3.whatCheck_name.subtitle= item.name