.whatCheck
  padding 80px 0 50px

  background-image url(__static__assets/whatCheck/back-1.jpg)
  background-repeat no-repeat
  background-size contain
  background-position 100% 0

  @media (max-width bTablet)
    padding 60px 0 40px

    background-size 50%

  @media (max-width bSmallTablet)
    padding 50px 0 30px

  @media (max-width bPhone)
    padding 40px 0 25px

  @media (max-width bSmallPhone)
    padding 30px 0 20px

  &_wrap
    max-width ContentWidth
    margin 0 auto

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      max-width 480px
      padding 0 15px

    @media (max-width bSmallPhone)
      padding 0 10px

  &_sliderWrap
    position relative

    width 100%

  &_btn
    position absolute
    top 50%
    transform translateY(-50%)

    display none

    cursor: pointer

    fill main-color-2
    transition .2s all

    @media (max-width bSmallestPhone)
      display block
      width 27px
      height 18px

    &:hover
      fill hover-color

    &.-prev
      left 0
    
    &.-next
      right 0

  &_slider
    display block
    box-sizing border-box

    @media (max-width bSmallestPhone)
      max-width 235px
      padding 35px 10px

  &_items
    display grid
    grid-template-columns repeat(4, auto)

    @media (max-width bSmallTablet)
      grid-template-columns repeat(3, auto)

    @media (max-width bPhone)
      grid-template-columns repeat(2, auto)

    @media (max-width bSmallestPhone)
      display flex
      flex-wrap nowrap
      justify-content flex-start

  &_item
    position: relative
    perspective 1000px
  
    width 220px
    margin 0 auto 40px
    display flex
    align-items center
    flex-direction column
    border-radius 15px

    background-color main-color-1

    @media (max-width bTablet)
      width 200px
      margin-bottom 30px

    @media (max-width bPhone)
      width 205px
      margin-bottom 20px

    @media (max-width bSmallPhone)
      width 200px

    @media (max-width bSmallestPhone)
      margin-bottom 0

  &_duplicate
    display flex
    align-items center
    flex-direction column
    border-radius 15px

    visibility hidden
    opacity 0

  &_flipper
    position absolute
    transform-style preserve-3d
    top 0
    left 0

    width 100%
    height 100%
    border-radius 15px

    transition 0.6s

    box-shadow: 0 10px 20px rgba(0,0,0,0.25), 0 7px 7px rgba(0,0,0,0.22)

    @media (max-width bSmallestPhone)
      box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 3px 3px rgba(0,0,0,0.22)

  &_item.-hover &_flipper,
  &_item:hover &_flipper
    transform rotateY(180deg)

  &_back,
  &_front
    position absolute
    top 0
    left 0

    display block
    border-radius 15px
    width inherit
    height inherit
    box-sizing border-box
    
    backface-visibility hidden

  &_back
    transform rotateY(180deg)

    padding 15px
    display flex
    align-items center
    justify-content center

    color main-color-1
    background-color main-color-2

  &_front
    z-index 2
    transform rotateY(0deg)

    display flex
    align-items center
    flex-direction column

  &_photo
    display block
    width 100%
    height 170px
    border-radius 15px 15px 0 0

    object-fit cover
    object-position center

    @media (max-width bTablet)
      height 150px

    @media (max-width bPhone)
      height 130px

  &_nameWrap
    display flex
    justify-content center
    align-items center
    width 100%
    height 100%
    box-sizing border-box
    padding 20px 15px
    border-top 1px solid main-color-2
    border-radius 0 0 15px 15px

    background-color main-color-1

    @media (max-width bTablet)
      padding 18px 13px

    @media (max-width bSmallTablet)
      padding 16px 12px

  &_name
    position relative

    margin 0

    text-align center

    &::before
      content ''
      position absolute
      left 50%
      bottom -10px
      transform translate(-50%, 0)

      display block
      width 70px
      height 3px

      background-color hover-color

      @media (max-width bTablet)
        bottom -7px
        
        width 65px

      @media (max-width bPhone)
        bottom -5px

        width 60px