mixin header(data)
  header.header(id="main")
    .header_headLine
      +socialsLine(socialsLine.main)
      
      .header_nav
        i.header_close
        .header_navWrap
          nav.header_links
            each link, index in data.links
              a.header_navLink.js-scroll-to(href= index)= link

      .header_back