.header
  position relative

  width 100%
  transition .2s all

  @media (max-width bSmallTablet)
    position fixed
    left 0
    top 0
    z-index 100

    border-bottom 1px solid main-color-1

    background-color main-color-2
      
  &_headLine
    width 100%
    border-bottom 1px solid main-color-1

  &_nav
    position absolute
    top 100%
    left 0

    width 100%

    @media (max-width bSmallTablet)
      z-index 100

      border-bottom 1px solid main-color-1

      background-color main-color-2

      transition .2s all

      opacity 0
      visibility hidden

    &.-sticky
      position fixed
      left 0
      top 0
      z-index 100

      border-bottom 1px solid main-color-1

      background-color main-color-2

    &.-active
      opacity 1
      visibility visible

  &_navWrap
    max-width ContentWidth
    margin 0 auto
    padding 20px 0

    @media (max-width bTablet)
      padding 15px 0
      max-width tabletWidth

    @media (max-width bSmallTablet)
      margin 0

  &_links
    display flex
    align-items center
    justify-content space-between
    width 100%

    @media (max-width bSmallTablet)
      flex-direction column

  &_navLink
    position relative

    margin-right 30px

    font-family Gilroy
    color main-color-1
    font-size 14px
    font-weight 700
    text-decoration none
    text-transform uppercase

    transition .2s all

    @media (max-width bTablet)
      margin-right 20px

      font-size 13px

    @media (max-width bSmallTablet)
      margin 0 0 25px

      font-size 14px

    @media (max-width bSmallestPhone)
      margin 0 0 20px
      
      font-size 13px

    &.-active,
    &:hover
      color hover-color

      &::before
        opacity 1
        visibility visible

    &::before
      content ''
      position absolute
      left 50%
      bottom -10px
      transform translateX(-50%)

      display block
      width 30px
      height 3px

      visibility hidden
      opacity 0
      transition .2s all

      background-color hover-color

      @media (max-width bTablet)
        bottom -7px

    &:last-child
      margin-right 0

      @media (max-width bSmallTablet)
        margin 0

  &_back
    position fixed
    top 0
    right 0
    bottom 0
    left 0
    z-index 99

    display none

    background-color rgba(0, 0, 0, 0.7)

    cursor pointer

    &.-active
      display block

  &_close
    position absolute
    right 15px
    top 15px

    display none
    width 15px
    height 15px

    background-image url(__static__assets/header/close-icon.png)
    background-repeat no-repeat
    background-position center
    background-size contain

    cursor pointer

    @media (max-width bSmallTablet)
      display block

    &:hover::before
      opacity 1
      visibility visible

    &::before
      content ''
      position absolute
      top 0
      left 0

      width 100%
      height 100%

      background-image url(__static__assets/header/hover-close-icon.png)
      background-repeat no-repeat
      background-position center
      background-size contain

      opacity 0
      visibility hidden

      transition .2s all

      