mixin form(data)
  .form(id="main-form")
    img.form_logo(src="__static__img/assets/header/logo.png", alt="")
    h3.form_title.subtitle Заголовок для формы отправки заявки
    form.form_main(action="")
      .form_line
        .form_inputGroup
          label.form_label(for="name-input") Ваше имя:
          input.form_input(id="name-input", type="text", placeholder="Владимир", name="Name", maxlength="15")
        .form_inputGroup
          label.form_label(for="tel-input") <strong>*</strong> Ваш телефон:
          input.form_input(id="tel-input", type="tel", placeholder="+79509509595", name="Tel" required)
      .form_line
        .form_inputGroup
          label.form_label(for="year-input") Год выпуска:
          input.form_input(id="year-input", type="number", placeholder="2007", name="Number" maxlength="4")
        .form_inputGroup
          label.form_label(for="budget-input") Ваш бюджет:
          input.form_input(id="budget-input", type="number", placeholder="300 000", name="Budget" maxlength="12")

      .form_line

        .form_inputGroup
          label.form_label(for="mark-input") Марка авто:
          select.form_input(id="mark-input")
            option.form_option(selected) Выберите модель
            option.form_option Ауди 1
            option.form_option Мазда 2 
            option.form_option Ауди 3 
            option.form_option Мазда 4
            option.form_option Ауди 5
            option.form_option Мазда 6

        .form_inputGroup
          label.form_label(for="model-input") Модель авто:
          select.form_input(id="model-input")
            option.form_option(selected) Выберите марку
            option.form_option Ауди 1
            option.form_option Мазда 2 
            option.form_option Ауди 3 
            option.form_option Мазда 4
            option.form_option Ауди 5
            option.form_option Мазда 6

      button.form_btn.formLink(type="submit") Отправить