.form
  display none
  align-items center
  flex-direction column
  max-width 450px
  width 100%
  padding 20px
  box-sizing border-box
  border-radius 15px

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  @media (max-width bPhone)
    padding 15px

  @media (max-width bSmallestPhone)
    max-width 270px
    padding 13px

  &.-show
    display flex

  &_logo
    display block
    width 80px
    height auto
    margin-bottom 30px

    object-fit contain
    object-position center

    @media (max-width bSmallestPhone)
      width 60px
      margin-bottom 20px

  &_title
    margin-bottom 40px

    text-align center

    @media (max-width bPhone)
      margin-bottom 30px

  &_main
    display flex
    flex-direction column
    align-items center
    width 100%
    box-sizing border-box
    
    overflow hidden

    background-color main-color-1

  &_inputGroup
    width 48%

    &:last-child
      margin-bottom 0

  &_line
    display flex
    align-items center
    justify-content space-between
    width 100%
    margin-bottom 20px

    @media (max-width bPhone)
      margin-bottom 15px

  &_label
    display flex
    margin-bottom 10px
    padding-left 3px

    font-family Gilroy
    font-weight 600

    color main-color-2
    text-align center

    & strong
      display block
      margin-right 5px

      color red

  &_input
    display block
    width 100%
    border-radius 15px
    box-sizing border-box
    padding 10px
    border 1px solid rgba(0, 0, 0, .3)
    outline 0

    white-space nowrap
    overflow hidden
    text-overflow ellipsis

    transition all .2s

    @media (max-width bSmallTablet)
      padding 8px

    &:hover,
    &:focus
      border 1px solid hover-color

  &_select
    display none
    &.-active
      display block

  &_option
    white-space nowrap
    overflow hidden
    text-overflow ellipsis

  &_btn
    border 0

  &_bottomNotice
    display block
    margin 0 auto
    
    color red
    text-align center

