.form
  display flex
  align-items center
  flex-direction column
  max-width 450px
  width 100%
  padding 20px
  box-sizing border-box
  border-radius 15px

  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

  &_logo
    display block
    width 80px
    height auto
    margin-bottom 30px

    object-fit contain
    object-position center

  &_title
    margin-bottom 40px

    text-align center

  &_main
    display flex
    flex-direction column
    align-items center
    width 100%
    box-sizing border-box
    
    overflow hidden

    background-color main-color-1

  &_inputGroup
    width 48%

    &:last-child
      margin-bottom 0

  &_line
    display flex
    align-items center
    justify-content space-between
    width 100%
    margin-bottom 20px

  &_label
    display flex
    margin-bottom 10px
    padding-left 10px

    font-family Gilroy
    font-weight 600

    color main-color-2
    text-align center

    & strong
      display block
      margin-right 5px

      color red

  &_input
    display block
    width 100%
    border-radius 15px
    box-sizing border-box
    padding 10px
    border 1px solid rgba(0, 0, 0, .3)
    outline 0

    transition all .2s

    &:hover,
    &:focus
      border 1px solid hover-color

  &_btn
    border 0

  &_bottomNotice
    display block
    margin 0 auto
    
    color red
    text-align center

