mixin services(data)
  section.services(id='services')
    .services_wrap 
      h2.services_title.title.-darkTheme Услуги
      .services_sliderWrap
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-left', className: 'services_btn -prev', iconWidth: '35', iconHeight: '75'})
        
        != pugHelpers.Icon.call(locals, {iconName: 'arrow-right', className: 'services_btn -next', iconWidth: '30', iconHeight: '20'})
        .services_slider.swiper-container
          .services_items.swiper-wrapper
            each item, index in data.items
              .services_item.swiper-slide
                .services_photoWrap 
                  img.services_photo(src= item.photo, alt="")

                span.services_infoGroup 
                  h3.services_subtitle.subtitle.-darkTheme= item.name
                  span.services_info= item.info

                .services_footLine
                  a.services_more.popup-link(href=`#popup-service-${index}`) Подробнее
                  a.services_formLink Оставить заявку