mixin services(data)
  section.services
    .services_wrap 
      h2.services_title.title.-darkTheme Услуги
      .services_items
        each item, index in data.items
          .services_item 
            .services_photoWrap 
              img.services_photo(src= item.photo, alt="")

            span.services_infoGroup 
              h3.services_subtitle.subtitle.-darkTheme= item.name
              span.services_info= item.info

            .services_footLine
              a.services_more.popup-link(href=`#popup-service-${index}`) Подробнее
              a.services_formLink Оставить заявку