mixin main(data)
  section.main
    .main_wrap 
      .main_titleGroup
        h1.main_title Помогаем купить лучший автомобиль с пробегом
        span.main_subtitle Полная проверка авто от "А" до "Я"<br> За счет торга наши услуги в 95% случаев бесплатны
        a.main_link(href='#') Оставить заявку