.main
  height 100%
  box-sizing border-box

  font-family OpenSans

  @media (max-width bSmallTablet)
    padding-top 60px

  @media (max-width bSmallPhone)
    padding-top 50px

  &_wrap
    max-width ContentWidth
    height 100%
    margin 0 auto
    display flex
    align-items center
    justify-content center

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

    @media (max-width bSmallPhone)
      padding 0 10px

  &_titleGroup
    display flex
    align-items center
    flex-direction column
    max-width 900px

    @media (max-width bTablet)
      max-width 800px

    @media (max-width bSmallTablet)
      max-width 600px

    @media (max-width bPhone)
      max-width 450px

    & strong
      color hover-color
      text-transform uppercase

  &_title
    margin 0 0 30px

    font-size 50px
    font-weight 800

    text-align center

    &.-animate
      animation-name fadeInLeft
      animation-fill-mode forwards

    @media (max-width bLaptop)
      margin 0 0 20px

      font-size 45px

    @media (max-width bTablet)
      font-size 40px

    @media (max-width bSmallTablet)
      font-size 35px

    @media (max-width bPhone)
      font-size 30px

    @media (max-width bSmallPhone)
      margin 0 0 15px
      
      font-size 25px

    @media (max-width bSmallestPhone)
      font-size 20px

  &_subtitle
    margin-bottom 60px
    display block
    font-size 25px
    font-weight 600

    text-align center

    animation-delay .3s

    &.-animate
      animation-name fadeInRight
      animation-fill-mode forwards

    @media (max-width bLaptop)
      margin-bottom 45px

      font-size 20px

    @media (max-width bTablet)
      margin-bottom 40px

      font-size 18px

    @media (max-width bSmallTablet)
      margin-bottom 35px

      font-size 17px

    @media (max-width bPhone)
      margin-bottom 30px

    @media (max-width bSmallPhone)
      margin-bottom 25px

      font-size 16px

    @media (max-width bSmallestPhone)
      font-size 15px

  &_link
    animation-delay .6s
    &.-animate
      animation-name fadeInDown
      animation-fill-mode forwards
