mixin main(data)
  section.main.animateSection
    .main_wrap 
      .main_titleGroup
        h1.main_title.animateEl Помогаем купить <strong>лучший</strong> автомобиль с пробегом
        span.main_subtitle.animateEl Полная проверка авто от "А" до "Я"<br> За счет торга наши услуги в 95% случаев <strong>бесплатны</strong>
        a.main_link.formLink.popup-link.animateEl(href='#main-form') Бесплатная консультация