mixin popupsServices(data)
  section.popupsServices       
    each item, index in data.items
      .popupsServices_item.popup-item(id =`popup-service-${index}`)
        img.popupsServices_photo(src= item.photo, alt="")
        .popupsServices_infoGroup
          h3.popupsServices_title= item.name
          .popupsServices_text
            p Lorem ipsum dolor sit amet consectetur adipisicing elit
            p Lorem ipsum dolor sit amet consectetur adipisicing elit
            ul Что входит в эту услугу:
              li — Проверка ПТС на оригинальность;
              li — Осмотр кузова, на ремонты, повреждения, перекрасы. Проверка на ДТП. Проверка производится как толщиномером, так и визуально на зазоры, шагрень и прочие недостатки;
            p Lorem ipsum dolor sit amet consectetur adipisicing elit
