.popupsServices
  &_item
    position fixed
    left 0
    top 0
    z-index 105
    
    width 100%
    height 100%
    display flex
    align-items center
    justify-content center
    padding 30px 10px
    box-sizing border-box

    background-color rgba(0, 0, 0, 0.9)

    opacity 0
    visibility hidden

    transition .3s all

    &.-show
      opacity 1
      visibility visible

  &_area
    position absolute
    top 0
    left 0

    width 100%
    height 100%
    box-sizing border-box
    padding 15px

  &_contentWrap
    position relative

  &_content
    position relative

    max-width 600px
    max-height 90vh
    box-sizing border-box
    border-radius 15px
    overflow-y auto

    background-color main-color-1

    @media (max-width bPhone)
      max-width 450px

  &_photo
    display block
    width 100%
    height 300px
    border-radius 15px 15px 0 0

    object-fit cover
    object-position center

    @media (max-width bPhone)
      height 200px

  &_close
    position absolute
    right -20px
    top 5px

    font-size 20px
    text-decoration none
    color main-color-1

  &_infoGroup
    display block
    padding 20px

    @media (max-width bTablet)
      padding 15px

    @media (max-width bPhone)
      padding 13px

  &_title
    position relative

    display block
    margin 0 0 20px

    font-family Gilroy
    color main-color-2

    &::before
      content ''
      position absolute
      left 0
      bottom -10px

      display block
      width 70px
      height 5px

      background-color hover-color

      @media (max-width bTablet)
        bottom -7px

        width 60px
        height 3px

  &_text
    display block
    
    color main-color-2
    font-size 18px

    @media (max-width bTablet)
      font-size 16px

    @media (max-width bPhone)
      font-size 14px