createDelayBuyAuto(itemsInLine, itemsInCol)
  for $i in (0..itemsInLine)
    for $j in (1..itemsInCol)
      $num = (itemsInLine + 1) * ($j) - itemsInLine + ($i)
      //$num = 4 * ($j) - 3 + ($i) //(0..3)(1..3) для 4х3
      //$num = 3 * ($j) - 2 + ($i) //(0..2)(1..4) для 3х4
      //$num = 2 * ($j) - 1 + ($i) //(0..1)(1..6) для 2х6
      &:nth-child({$num})
        animation-delay ($i + 1) * .2s
.buyAuto
  padding 80px 0 50px

  @media (max-width bTablet)
    padding 60px 0 40px

  @media (max-width bSmallTablet)
    padding 50px 0 30px

  @media (max-width bPhone)
    padding 40px 0 25px

  @media (max-width bSmallPhone)
    padding 35px 0 20px

  @media (max-width bSmallestPhone)
    padding 30px 0 20px

  &_wrap
    max-width ContentWidth
    margin 0 auto

    @media (max-width bTablet)
      max-width tabletWidth

    @media (max-width bSmallTablet)
      max-width smallTabletWidth

    @media (max-width bPhone)
      padding 0 15px

    @media (max-width bSmallPhone)
      padding 0 10px

  &_title
    &.-animate
      animation-name fadeInDown
      animation-fill-mode forwards

  &_items
    width 100%
    display flex
    justify-content space-between

    @media (max-width bSmallTablet)
      flex-wrap wrap
      justify-content space-evenly

  &_item
    width 180px
    display flex
    align-items center
    flex-direction column
    margin-bottom 40px

    createDelayBuyAuto(4, 1)

    &.-animate
      animation-name fadeInDown
      animation-fill-mode forwards

    @media (max-width bTablet)
      width 160px
      margin-bottom 30px

    @media (max-width bSmallTablet)
      width 200px

    @media (max-width bPhone)
      width 220px

    @media (max-width bSmallPhone)
      width 215px
      margin-bottom 20px

    @media (max-width bSmallestPhone)
      width 100%

  &_icon
    width 100px
    height 100px
    margin-bottom 20px

    object-position center
    object-fit contain

    & > *
      object-fit contain
      object-position center

    @media (max-width bTablet)
      width 80px
      height 80px

    @media (max-width bSmallTablet)
      width 72px
      height 72px

  &_info
    display block

    font-size 16px
    text-align center

    @media (max-width bTablet)
      font-size 15px

    @media (max-width bPhone)
      font-size 14px

    @media (max-width bSmallPhone)
      font-size 13px
