mixin buyAuto(data)
  section.buyAuto
    .buyAuto_wrap
      .buyAuto_title.title Купить авто с нами легко
      .buyAuto_items
        each item in data.items
          .buyAuto_item 
            img.buyAuto_icon(src= item.icon, alt="")
            span.buyAuto_info.subtitle= item.info